a:link    { text-decoration:none;color:black }
a:visited { text-decoration:none; }
a:hover   { text-decoration:underline; }
a:active  { text-decoration:underline; }

#datatab
{
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse:collapse;
}

#datatab th
{
    font-size:1.1em;
    border:1px solid #333388;
    padding:3px 7px 2px 7px;
    background-color:#8888BB;
    color:#ffffff;
}

#datatab td
{
    font-size:1.0em;
    border:1px solid #333388;
    text-align:center;
}

#datatab tr.alt
{
    background-color:#eeeeff;
    color:#000000;
}

#datatab tr.warn
{
    background-color:#ffbbbb;
    color:#000000;
}

#datatab tr:hover {
    background-color:#ffffbb;
}


